.container {
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-add {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-left: 10px;
    background-color: #4A90E2;
    /* Azul Claro */
    color: #FFFFFF;
    /* Blanco */
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centrar el contenido */
}

.button-add:hover {
    background-color: #7ED321;
    /* Verde Claro */
}

.list {
    list-style-type: none;
    padding: 0;
}

.list:hover {
    background-color: #98b3d1;
    /* Verde Claro */
}

.button-view-all {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4A90E2;
    /* Azul Claro */
    color: #FFFFFF;
    /* Blanco */
    border: none;
    cursor: pointer;
}

.button-view-all:hover {
    background-color: #7ED321;
    /* Verde Claro */
}

.completed-task {
    cursor: pointer;
}

.completed-task-details {
    margin-left: 20px;
    background-color: #98b3d1;
    /* Azul Claro */
    color: #FFFFFF;
    /* Blanco */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.button-delete {
    margin-left: 10px;
    background-color: #4A90E2;
    /* Azul Claro */
    color: #FFFFFF;
    /* Blanco */
    border: none;
    padding: 2px 20px;
    cursor: pointer;
}

.button-delete:hover {
    background-color: #7ED321;
    /* Verde Claro */
}

.task-item {
    cursor: pointer;
    /* Cambiar el cursor a una mano cuando pase sobre una tarea pendiente */
}