.container-fluid {
    text-align: center;
    padding: 0 15px;
    /* Agregar espacio entre la tabla y la orilla de la pantalla */
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.button-add {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-left: 10px;
    background-color: #4A90E2;
    /* Azul Claro */
    color: #FFFFFF;
    /* Blanco */
    border: none;
    cursor: pointer;
}

.button-add:hover {
    background-color: #7ED321;
    /* Verde Claro */
}

.button-home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #4A90E2;
    /* Azul Claro */
    color: #FFFFFF;
    /* Blanco */
    border: none;
    cursor: pointer;
    margin: 0;
    /* Eliminar el margen alrededor del botón */
}

.button-home:hover {
    background-color: #7ED321;
    /* Verde Claro */
}

.button-home-icon {
    margin-right: 10px;
}

.table-responsive {
    margin: 0 auto;
    width: 100%;
}

.table {
    border-collapse: collapse;
    width: 100%;
    max-width: 90%;
    /* Limitar el ancho máximo de la tabla */
    margin: 0 auto;
    /* Centrar la tabla */
}

.th,
.td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.button-delete {
    background-color: #4A90E2;
    /* Azul Claro */
    color: #FFFFFF;
    /* Blanco */
    border: none;
    padding: 2px 20px;
    cursor: pointer;
}

.button-delete:hover {
    background-color: #7ED321;
    /* Verde Claro */
}

th{
   background-color: #98b3d1;
}